body {
  background-color:  #E5DCC5;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-image: url('assets/images/Background/PC.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

/* color palette - 1
#fffcf2 - white
#eb5e28 - orange
#ccc5b9 - mid gray
#403d39 - dark gray
#252422 - charcoal
 */

 /* color palette - 2
 #2D2D2A - jet
 #D45113 - syracuse orange
 #4C4C47 - Davy's Gray
 #848FA5 - cool gray
 #E5DCC5 - pearl
 */

#container {
  width: 95vw;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
  background-color: rgb(45, 45, 42, 0.5) ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#welcomeHeader {
  width: 90%;
  height: 5%;
  background-color:rgb(78, 87, 106, 0.7);
  border-radius: 20px;
  padding: 1em;
  display: flexbox;
  justify-content:space-evenly;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 5vh;
}

#homeBtn {
  width: 15%;
  height: 5vh;
  border-radius: 15px;
  background-color: #848FA5;
  font-weight: bold;
  font-size: .5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family:'Kdam Thmor Pro', sans-serif;
  transition: background-color 0.3s ease;
}

#homeBtn:hover{
background-color: #4E576A;
}

#welcomemessage {
  width: 60%;
  height: 50%;
  background-color:rgb(78, 87, 106, 0.7);
  border-radius: 20px;
  padding: 1em;
  text-align: left;
}

#p1{
  font-size: 3em;
  font-weight: bold;
  margin-left: .3em;
}

#p2{
  font-size: 1.5em;
  margin-left: 1em;
}

#signBtn {
  width: 15%;
  height: 5vh;
  margin-top: 3em;
  margin-left: 1.5em;
  border-radius: 15px;
  background-color: #848FA5;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family:'Kdam Thmor Pro', sans-serif;
  transition: background-color 0.3s ease;
}

#signBtn:hover{
  background-color: #4E576A;
  }

#browseBtn {
  width: 15%;
  height: 5vh;
  margin-top: 3em;
  margin-left: 1.5em;
  border-radius: 15px;
  background-color: #848FA5;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family:'Kdam Thmor Pro', sans-serif;
  transition: background-color 0.3s ease;
}

#browseBtn:hover{
  background-color: #4E576A;
  }

.browseSelect {
  width: 90vw;
  background-color:rgb(78, 87, 106, 0.7);;
  border-radius: 20px;
  margin-bottom: 5vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.panel {
  /* width: 20vw; */
  width: 25vw;
  height: 35vh;
  /* max-width: 20vw; */
  /* max-height: 35vh; */
  /* height: 35vh; */
  background-color:rgb(212, 79, 18, 0.8);
  border-radius: 20px;
  padding: 1.2em;
  margin-left: 2vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-right: 2vw;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
  /* flex-shrink: 5 */
}

.panelBtn {
  width: 50%;
  height: 10vh;
  border-radius: 15px;
  background-color: #848FA5;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button:hover {
background-color: #4E576A;
}

button{
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family:'Kdam Thmor Pro', sans-serif;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.img {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

input {
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition: border-color 0.3s ease;
  margin-right: .5em;
  margin-left:  .5em;
}

input:hover , input:focus {
  border-color: #2D2D2A;
}